<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>v-model结合checkbox类型</title>
  <script src="../vue/vue.js"></script>
  <style>
    label{
      margin-right: 40px;
    }
  </style>
</head>
<body>
  <div id="app">

    <h2>{{message}}</h2>

    <!-- 
      1. 值绑定是，我们是从data中拿到数据，将拿到的数据遍历数来。
      2. 再绑定到一个数组中，用于展示数据，达到数据双向绑定。
     -->
    <label :for="index" v-for="item,index in books">
      <input type="checkbox" :value="item" v-model="showBooks" :id="index">{{item}}
    </label>

    <h2>{{showBooks}}</h2>
  </div>
  <script>
    const app = new Vue({
      el:'#app',
      data:{
        message:"我的书单：",
        books:['html+css','计算机网络','javascript'],
        showBooks:[]
      }
    });
  </script>
</body>
</html>