<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>v-for遍历对象</title>
  <script src="../vue/vue.js"></script>
</head>
<body>
  <div id="app">
    <ul>
      <!--语法：<li v-for="(值,键,下标)in object">{{key}}:{{vaule}}</li> -->
      <li v-for="vaule,key in info">{{key}}  :  {{vaule}}</li>
    </ul>
  </div>
  <script>
    const app = new Vue({
      el:'#app',
      data:{
        info:{
          name:"光头强",
          age:30,
          sex:'male',
          job:"砍树"
        }
      }
    });
  </script>
</body>
</html>