/*
  标签样式初始化（css reset）
    原则：但凡是页面用到的标签，有默认样式，会影响其它代码，这个时候就要将默认样式清掉。用不到的就不用清除。

    哪些样式需要重置？
    1. 与盒模型相关的样式
      margin
      padding
      border
    2. 标签特有的样式
      ul
      li
      ol
*/



/* 
不建议使用：
    1. 因为通配符会去找到所有的标签，就会涉及到性能问题；
    2. 浪费，因为页面中用到的标签不是所有标签；（写成通配符没有用到的标签也会去找）；
建议：
    1. 页面情况复杂就不建议使用；
    2. 页面情况简单可以使用，不会有很大的影响；
*/

/* *{
  margin: 0;
  padding: 0;
} */


body,h1,h2,h3,h4,h5,h6,p,dl,dd{
  margin: 0;
}

ul,ol{
  margin: 0;
  padding: 0;
  list-style: none;
}

/* IE6下面需要处理的 */
img{
  border: none;
  vertical-align: top;
}

a{
  text-decoration: none;
}

